<%- model_class = Reservation -%>
<div class="page-header">
  <h1>Mis Reservas</h1>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Código</th>
      <th>Fecha Desde</th>
      <th>Fecha Hasta</th>
      <th>Hora Desde</th>
      <th>Hora Hasta</th>
      <th>Usuario</th>
      <th>Estacionamiento Id</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.code %></td>
        <td><%= reservation.started_at %></td>
        <td><%= reservation.ended_at %></td>
        <td><%= reservation.started_time %></td>
        <td><%= reservation.ended_time %></td>
        <td><%= reservation.user.first_name %></td>
        <td><%= reservation.place_id %></td>
        <td><%= reservation.state %></td>
        <td>
          <!--<%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_reservation_path(reservation), :class => 'btn btn-default btn-xs' %>-->
          <% if reservation.state = 'Emitido' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      reservation_path(reservation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--<%= link_to t('.new', :default => t("helpers.links.new")),
            new_reservation_path,
            :class => 'btn btn-primary' %>-->
